In [ ]:
#llamamos las librerias 
from bs4 import BeautifulSoup
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
import plotly.express as px
import statsmodels.api as sm
import statsmodels.formula.api as smf
from scipy.stats import poisson

In [ ]:
webpage= requests.get('https://ar.marca.com/claro/futbol/primera-division/fixture.html') #la página de donde sacaremos la data
soup = BeautifulSoup(webpage.content, "html.parser") #descargamos el html

In [ ]:
# solo 18 fechas que son las que se jugaron y estan completas a la fecha 16/09/22
fecha1= soup.find_all(id="jornada1") # identificamos la tabla y buscams y extraemos ella del codigo html
fecha2= soup.find_all(id="jornada2")
fecha3= soup.find_all(id="jornada3")
fecha4= soup.find_all(id="jornada4")
fecha5= soup.find_all(id="jornada5")
fecha6= soup.find_all(id="jornada6")
fecha7= soup.find_all(id="jornada7")
fecha8= soup.find_all(id="jornada8")
fecha9= soup.find_all(id="jornada9")
fecha10= soup.find_all(id="jornada10")
fecha11= soup.find_all(id="jornada11")
fecha12= soup.find_all(id="jornada12")
fecha13= soup.find_all(id="jornada13")
fecha14= soup.find_all(id="jornada14")
fecha15= soup.find_all(id="jornada15")
fecha16= soup.find_all(id="jornada16")
fecha17= soup.find_all(id="jornada17")
fecha18= soup.find_all(id="jornada18")
fecha19= soup.find_all(id="jornada19")
fecha20= soup.find_all(id="jornada20")
fecha21= soup.find_all(id="jornada21")
fecha22= soup.find_all(id="jornada22")
fecha23= soup.find_all(id="jornada23")
fecha24= soup.find_all(id="jornada24")
fecha25= soup.find_all(id="jornada25")
fecha26= soup.find_all(id="jornada26")
fecha27= soup.find_all(id="jornada27")

**Transformamos** a texto cada porción de el codigo html correspondiente a cada tabla

In [ ]:
fecha1= str(fecha1) # transformamos a str la tabla
fecha2= str(fecha2)
fecha3= str(fecha3)
fecha4= str(fecha4)
fecha5= str(fecha5)
fecha6= str(fecha16)
fecha7= str(fecha7)
fecha8= str(fecha8)
fecha9= str(fecha9)
fecha10= str(fecha10)
fecha11= str(fecha11)
fecha12= str(fecha12)
fecha13= str(fecha13)
fecha14= str(fecha14)
fecha15= str(fecha15)
fecha16= str(fecha16)
fecha17= str(fecha17)
fecha18= str(fecha18)
fecha19= str(fecha19)
fecha20= str(fecha20)
fecha21= str(fecha21)
fecha22= str(fecha22)
fecha23= str(fecha23)
fecha24= str(fecha24)
fecha25= str(fecha25)
fecha26= str(fecha26)
fecha27= str(fecha27)

In [ ]:
fecha1= re.sub(r'<.*?>', lambda g: g.group(0).upper(), fecha1) #cambiamos a mayusculas
fecha2= re.sub(r'<.*?>', lambda g: g.group(0).upper(), fecha2)
fecha3= re.sub(r'<.*?>', lambda g: g.group(0).upper(), fecha3)
fecha4= re.sub(r'<.*?>', lambda g: g.group(0).upper(), fecha4)
fecha5= re.sub(r'<.*?>', lambda g: g.group(0).upper(), fecha5)
fecha6= re.sub(r'<.*?>', lambda g: g.group(0).upper(), fecha6)
fecha7= re.sub(r'<.*?>', lambda g: g.group(0).upper(), fecha7)
fecha8= re.sub(r'<.*?>', lambda g: g.group(0).upper(), fecha8)
fecha9= re.sub(r'<.*?>', lambda g: g.group(0).upper(), fecha9)
fecha10= re.sub(r'<.*?>', lambda g: g.group(0).upper(), fecha10)
fecha11= re.sub(r'<.*?>', lambda g: g.group(0).upper(), fecha11)
fecha12= re.sub(r'<.*?>', lambda g: g.group(0).upper(), fecha12)
fecha13= re.sub(r'<.*?>', lambda g: g.group(0).upper(), fecha13)
fecha14= re.sub(r'<.*?>', lambda g: g.group(0).upper(), fecha14)
fecha15= re.sub(r'<.*?>', lambda g: g.group(0).upper(), fecha15)
fecha16= re.sub(r'<.*?>', lambda g: g.group(0).upper(), fecha16)
fecha17= re.sub(r'<.*?>', lambda g: g.group(0).upper(), fecha17)
fecha18= re.sub(r'<.*?>', lambda g: g.group(0).upper(), fecha18)
fecha20= re.sub(r'<.*?>', lambda g: g.group(0).upper(), fecha20)
fecha21= re.sub(r'<.*?>', lambda g: g.group(0).upper(), fecha21)
fecha22= re.sub(r'<.*?>', lambda g: g.group(0).upper(), fecha22)
fecha23= re.sub(r'<.*?>', lambda g: g.group(0).upper(), fecha23)
fecha24= re.sub(r'<.*?>', lambda g: g.group(0).upper(), fecha24)
fecha25= re.sub(r'<.*?>', lambda g: g.group(0).upper(), fecha25)
fecha26= re.sub(r'<.*?>', lambda g: g.group(0).upper(), fecha26)
fecha27= re.sub(r'<.*?>', lambda g: g.group(0).upper(), fecha27)

Pasamos cada codigo a un dataframe correspondiente a cada fecha

In [ ]:
dfecha1 = pd.read_html(fecha1)[0] 
dfecha2= pd.read_html(fecha2)[0]
dfecha3= pd.read_html(fecha3)[0]
dfecha4= pd.read_html(fecha4)[0]
dfecha5= pd.read_html(fecha5)[0]
dfecha6= pd.read_html(fecha6)[0]
dfecha7= pd.read_html(fecha7)[0]
dfecha8= pd.read_html(fecha8)[0]
dfecha9= pd.read_html(fecha9)[0]
dfecha10= pd.read_html(fecha10)[0]
dfecha11= pd.read_html(fecha11)[0]
dfecha12= pd.read_html(fecha12)[0]
dfecha13= pd.read_html(fecha13)[0]
dfecha14= pd.read_html(fecha14)[0]
dfecha15= pd.read_html(fecha15)[0]
dfecha16= pd.read_html(fecha16)[0]
dfecha17= pd.read_html(fecha17)[0]
dfecha18= pd.read_html(fecha18)[0]
dfecha19= pd.read_html(fecha19)[0]
dfecha20= pd.read_html(fecha20)[0]
dfecha21= pd.read_html(fecha21)[0]
dfecha22= pd.read_html(fecha22)[0]
dfecha23= pd.read_html(fecha23)[0]
dfecha24= pd.read_html(fecha24)[0]
dfecha25= pd.read_html(fecha25)[0]
dfecha26= pd.read_html(fecha26)[0]
dfecha27= pd.read_html(fecha27)[0]

Creamos una nueva columna de nombre fecha - donde le asignamos el numero de jornada a la que corresponde. Así podremos identificar más adelante a que jornada/fecha del campeonato corresponde cada partido

In [ ]:
dfecha1['fecha']=1 #columna con el valor correspondiente a cada fecha.
dfecha2['fecha']=2
dfecha3['fecha']=3
dfecha4['fecha']=4
dfecha5['fecha']=5
dfecha6['fecha']=6
dfecha7['fecha']=7
dfecha8['fecha']=8
dfecha9['fecha']=9
dfecha10['fecha']=10
dfecha11['fecha']=11
dfecha12['fecha']=12
dfecha13['fecha']=13
dfecha14['fecha']=14
dfecha15['fecha']=15
dfecha16['fecha']=16
dfecha17['fecha']=17
dfecha18['fecha']=18
dfecha19['fecha']=19
dfecha20['fecha']=20
dfecha21['fecha']=21
dfecha22['fecha']=22
dfecha23['fecha']=23
dfecha24['fecha']=24
dfecha25['fecha']=25
dfecha26['fecha']=26
dfecha27['fecha']=27

Concatenamos todos los dataframe de fechas de manera de tener uno solo con todos los partidos jugados.

In [ ]:
fixture2022 = pd.concat([dfecha1, dfecha2, dfecha3, dfecha4, dfecha5, dfecha6, dfecha7, dfecha8, dfecha9,
                             dfecha10, dfecha11, dfecha12, dfecha13, dfecha14, dfecha15,
                             dfecha16, dfecha17, dfecha18, dfecha19, dfecha20, dfecha21,
                         dfecha22, dfecha23, dfecha24, dfecha25, dfecha26, dfecha27], axis=0) #concatenamos todos los dataframe fecha por fecha

In [ ]:
fixture2022

        Equipo local Resultado                       Equipo visitante  fecha
0   Barracas Central       1-1  Central Córdoba (Santiago del Estero)      1
1   Atlético Tucumán       1-1                         Colón Santa Fe      1
2        San Lorenzo       1-1                          Independiente      1
3           Banfield       1-2                      Newell's Old Boys      1
4          Patronato       1-1                        Vélez Sarsfield      1
..               ...       ...                                    ...    ...
9        Racing Club       1-2                            River Plate     27
10  Barracas Central       1-1                      Newell's Old Boys     27
11   Rosario Central       1-1                         Colón Santa Fe     27
12             Tigre       1-4                     Arsenal de Sarandí     27
13          Platense       1-1                                  Lanús     27

[378 rows x 4 columns]

252 rows y cuantro columnas

In [ ]:
fixture2022.describe().T

       count  mean       std  min  25%   50%   75%   max
fecha  378.0  14.0  7.799204  1.0  7.0  14.0  21.0  27.0

In [ ]:
#fixture2022['Resultado']= fixture2022['Resultado'].astype(str)

Creamos dos columnas con goles de local y vistante, a partir de la columna resultado.

In [ ]:
#creamos dos columnas una para gol visitante y otra para gol local seprando desde la columna Resultado tomando patron -
#tomando solo dos divisiones y con la opción expand true
fixture2022[['gol_local', 'gol_visitante']]= fixture2022.Resultado.str.split('-',2, expand=True)
fixture2022

,Equipo local,Resultado,Equipo visitante,fecha,gol_local,gol_visitante
0,Barracas Central,1-1,Central Córdoba (Santiago del Estero),1,1,1
1,Atlético Tucumán,1-1,Colón Santa Fe,1,1,1
2,San Lorenzo,1-1,Independiente,1,1,1
3,Banfield,1-2,Newell's Old Boys,1,1,2
4,Patronato,1-1,Vélez Sarsfield,1,1,1
...,...,...,...,...,...,...
9,Racing Club,1-2,River Plate,27,1,2
10,Barracas Central,1-1,Newell's Old Boys,27,1,1
11,Rosario Central,1-1,Colón Santa Fe,27,1,1
12,Tigre,1-4,Arsenal de Sarandí,27,1,4
13,Platense,1-1,Lanús,27,1,1

descargamos el dataframe a un archivo csv

In [ ]:
fixture2022.tail(20)

,Equipo local,Resultado,Equipo visitante,fecha,gol_local,gol_visitante
8,Atlético Tucumán,1-1,Unión Santa Fe,26,1,1
9,Sarmiento,2-4,San Lorenzo,26,2,4
10,Colón Santa Fe,1-2,Defensa y Justicia,26,1,2
11,Lanús,0-1,Racing Club,26,0,1
12,Central Córdoba (Santiago del Estero),1-2,Tigre,26,1,2
13,Huracán,2-0,Platense,26,2,0
0,Unión Santa Fe,1-4,Central Córdoba (Santiago del Estero),27,1,4
1,Defensa y Justicia,3-1,Atlético Tucumán,27,3,1
2,Estudiantes de La Plata,2-0,Godoy Cruz,27,2,0
3,San Lorenzo,3-0,Aldosivi,27,3,0
4,Argentinos Juniors,2-0,Vélez Sarsfield,27,2,0
5,Banfield,0-0,Sarmiento,27,0,0
6,Talleres de Córdoba,2-1,Gimnasia La Plata,27,2,1
7,Boca Juniors,2-2,Independiente,27,2,2
8,Patronato,3-2,Huracán,27,3,2
9,Racing Club,1-2,River Plate,27,1,2
10,Barracas Central,1-1,Newell's Old Boys,27,1,1
11,Rosario Central,1-1,Colón Santa Fe,27,1,1
12,Tigre,1-4,Arsenal de Sarandí,27,1,4
13,Platense,1-1,Lanús,27,1,1

In [ ]:
fixture2022.dtypes

Equipo local        object
Resultado           object
Equipo visitante    object
fecha                int64
gol_local           object
gol_visitante       object
dtype: object

nos quedaron salvo fecha del campeonato, todas las columnas como object - tanto gol de visitante y local deben de ser int64. Nos encontramos con el problema de que existen dos partidos aplazados y por ello no podemos cambiar el valor a númérico

In [ ]:
aplazado= fixture2022[fixture2022.loc[:,'gol_local']== 'Aplazado'].index
fixture2022= fixture2022.drop(aplazado)

In [ ]:
fixture2022

,Equipo local,Resultado,Equipo visitante,fecha,gol_local,gol_visitante
0,Barracas Central,1-1,Central Córdoba (Santiago del Estero),1,1,1
1,Atlético Tucumán,1-1,Colón Santa Fe,1,1,1
2,San Lorenzo,1-1,Independiente,1,1,1
3,Banfield,1-2,Newell's Old Boys,1,1,2
4,Patronato,1-1,Vélez Sarsfield,1,1,1
...,...,...,...,...,...,...
9,Racing Club,1-2,River Plate,27,1,2
10,Barracas Central,1-1,Newell's Old Boys,27,1,1
11,Rosario Central,1-1,Colón Santa Fe,27,1,1
12,Tigre,1-4,Arsenal de Sarandí,27,1,4
13,Platense,1-1,Lanús,27,1,1

In [ ]:
fixture2022['gol_local'] = fixture2022['gol_local'].astype(np.int64) #le asignamos tipo valor float
fixture2022['gol_visitante'] = fixture2022['gol_visitante'].astype(np.int64)
fixture2022

,Equipo local,Resultado,Equipo visitante,fecha,gol_local,gol_visitante
0,Barracas Central,1-1,Central Córdoba (Santiago del Estero),1,1,1
1,Atlético Tucumán,1-1,Colón Santa Fe,1,1,1
2,San Lorenzo,1-1,Independiente,1,1,1
3,Banfield,1-2,Newell's Old Boys,1,1,2
4,Patronato,1-1,Vélez Sarsfield,1,1,1
...,...,...,...,...,...,...
9,Racing Club,1-2,River Plate,27,1,2
10,Barracas Central,1-1,Newell's Old Boys,27,1,1
11,Rosario Central,1-1,Colón Santa Fe,27,1,1
12,Tigre,1-4,Arsenal de Sarandí,27,1,4
13,Platense,1-1,Lanús,27,1,1

In [ ]:
fixture2022.dtypes

Equipo local        object
Resultado           object
Equipo visitante    object
fecha                int64
gol_local            int64
gol_visitante        int64
dtype: object

Debemos ahora crear una columna que nos indique el resultado. esto es, si gana el local, el visitante o si empataron

In [ ]:
#definimos las condiciones que deben darse para uno u otro resultado

condiciones= [fixture2022['gol_local']>fixture2022['gol_visitante'], fixture2022['gol_local']<fixture2022['gol_visitante']]

# definimos las opciones
opciones= ['local', 'visitante']

#creamos la columna del dataframe que muestre el resultado de la comparación
fixture2022['resultado'] =np.select(condiciones, opciones, 'empate')

In [ ]:
fixture2022= fixture2022.rename(columns={'Resultado':'marcador'}) #cambiamos la columna del marcador para no confundir el resultado
fixture2022

,Equipo local,marcador,Equipo visitante,fecha,gol_local,gol_visitante,resultado
0,Barracas Central,1-1,Central Córdoba (Santiago del Estero),1,1,1,empate
1,Atlético Tucumán,1-1,Colón Santa Fe,1,1,1,empate
2,San Lorenzo,1-1,Independiente,1,1,1,empate
3,Banfield,1-2,Newell's Old Boys,1,1,2,visitante
4,Patronato,1-1,Vélez Sarsfield,1,1,1,empate
...,...,...,...,...,...,...,...
9,Racing Club,1-2,River Plate,27,1,2,visitante
10,Barracas Central,1-1,Newell's Old Boys,27,1,1,empate
11,Rosario Central,1-1,Colón Santa Fe,27,1,1,empate
12,Tigre,1-4,Arsenal de Sarandí,27,1,4,visitante
13,Platense,1-1,Lanús,27,1,1,empate

In [ ]:
fixture2022.to_csv('fixtureliga_arg_2022.csv', encoding='utf-8') # pasamos el dataframe a un archivo csv

In [ ]:
fixture2022.describe().T

               count       mean       std  min  25%   50%   75%   max
fecha          378.0  14.000000  7.799204  1.0  7.0  14.0  21.0  27.0
gol_local      378.0   1.216931  1.040572  0.0  0.0   1.0   2.0   5.0
gol_visitante  378.0   0.939153  0.968469  0.0  0.0   1.0   1.0   5.0

Como podemos ver - los equipos locales tienen un promedio de 1.21 goles por partido y los visitantes de 0.87 -

In [ ]:
fixture2022.describe(include='O').T

                 count unique                      top freq
Equipo local       378     28  Estudiantes de La Plata   15
marcador           378     25                      1-1   57
Equipo visitante   378     28        Gimnasia La Plata   15
resultado          378      3                    local  160

el resultado que más se dió es el 1-1 (43 veces) 
de 247 partidos disputados - 105 gano el local. Siendo el resultado con mayor frecuencia.

Generamos una tabla por equipo, con los resultados cuando jugo de LOCAL

In [ ]:
fixture2022.pivot_table(index='Equipo local', columns='resultado', aggfunc={"resultado": len})
# aggfunc={"gol_local": sum, "gol_visitante": sum}

                                      resultado
resultado                                empate local visitante
Equipo local
Aldosivi                                    1.0   2.0       9.0
Argentinos Juniors                          2.0   8.0       5.0
Arsenal de Sarandí                          7.0   3.0       3.0
Atlético Tucumán                            6.0   8.0       NaN
Banfield                                    6.0   2.0       7.0
Barracas Central                            5.0   6.0       3.0
Boca Juniors                                3.0  10.0       1.0
Central Córdoba (Santiago del Estero)       3.0   5.0       5.0
Colón Santa Fe                              4.0   4.0       6.0
Defensa y Justicia                          7.0   6.0       1.0
Estudiantes de La Plata                     3.0   9.0       3.0
Gimnasia La Plata                           3.0   6.0       3.0
Godoy Cruz                                  5.0   5.0       2.0
Huracán                                     3.0   8.0       1.0
Independiente                               5.0   5.0       3.0
Lanús                                       3.0   3.0       7.0
Newell's Old Boys                           4.0   4.0       5.0
Patronato                                   4.0   8.0       2.0
Platense                                    8.0   4.0       2.0
Racing Club                                 3.0   9.0       2.0
River Plate                                 1.0   7.0       5.0
Rosario Central                             6.0   5.0       3.0
San Lorenzo                                 9.0   5.0       1.0
Sarmiento                                   3.0   5.0       5.0
Talleres de Córdoba                         4.0   7.0       4.0
Tigre                                       5.0   6.0       2.0
Unión Santa Fe                              3.0   4.0       6.0
Vélez Sarsfield                             4.0   6.0       2.0

Generamos una tabla por equipo, con los resultados cuando jugo de VISITANTE

In [ ]:
fixture2022.pivot_table(index='Equipo visitante', columns='resultado', aggfunc={"resultado": len})

                                      resultado
resultado                                empate local visitante
Equipo visitante
Aldosivi                                    4.0  10.0       1.0
Argentinos Juniors                          4.0   5.0       3.0
Arsenal de Sarandí                          6.0   6.0       2.0
Atlético Tucumán                            4.0   6.0       3.0
Banfield                                    3.0   5.0       4.0
Barracas Central                            5.0   6.0       2.0
Boca Juniors                                1.0   5.0       7.0
Central Córdoba (Santiago del Estero)       2.0   7.0       5.0
Colón Santa Fe                              4.0   6.0       3.0
Defensa y Justicia                          3.0   5.0       5.0
Estudiantes de La Plata                     3.0   8.0       1.0
Gimnasia La Plata                           6.0   5.0       4.0
Godoy Cruz                                  3.0   8.0       4.0
Huracán                                     9.0   3.0       3.0
Independiente                               4.0   6.0       4.0
Lanús                                       4.0   8.0       2.0
Newell's Old Boys                           2.0   5.0       7.0
Patronato                                   2.0   8.0       3.0
Platense                                    3.0   7.0       3.0
Racing Club                                 5.0   3.0       5.0
River Plate                                 5.0   2.0       7.0
Rosario Central                             6.0   5.0       2.0
San Lorenzo                                 5.0   2.0       5.0
Sarmiento                                   5.0   6.0       3.0
Talleres de Córdoba                         4.0   6.0       2.0
Tigre                                       5.0   4.0       5.0
Unión Santa Fe                              6.0   5.0       3.0
Vélez Sarsfield                             7.0   8.0       NaN